<header class="site-header">
    
    <!-- Logo and title -->
	<div class="branding">
		<h1 class="site-title">
			<a href="{{ site.baseurl }}/">{{ site.title }}</a>
		</h1>
	</div>
    
    <!-- Toggle menu -->
    <nav class="clear">
    <a id="pull" class="toggle" href="#">
    <i class="fa fa-bars fa-lg"></i>
    </a>
    
    <!-- Menu -->
    <ul class="hide">
        
        <!-- Auto Generation of NORMAL pages in the navbar -->
        {% assign name_page = "" %}
        
        {% for page in site.menu %}
        {% if page[1].name %}
        {% if name_page contains page[1].name %}
        {% else %}
        <li class="separator"> | </li>
        <li>
            <a class="clear" href="{{ page[1].link }}">
                {{ page[1].name }}
            </a>
        </li>
        {% endif %}
        {% assign name_page = page[1].name | append: name_page %}
        {% endif %}
        {% endfor %} 
    </ul>        
	</nav>
</header>